global
    daemon
    log 127.0.0.1 local0 debug
    maxconn 50000
    nbproc 1
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        vagrant
    group       vagrant
    daemon
#   setfacl -m u:ami:rwx /etc/haproxy*
    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats level admin

defaults
    mode http
    timeout connect 5s
    timeout client 25s
    timeout server 25s
    timeout queue 10s

# Handle Incoming HTTP Connection Requests
listen  http-incoming
    mode http
    bind 10.1.0.9:80
# Use each server in turn, according to its weight value
    balance roundrobin
# Verify that service is available
    option httpchk OPTIONS * HTTP/1.1\r\nHost:\ www
# Insert X-Forwarded-For header
    option forwardfor
# Define the back-end servers, which can handle up to 512 concurrent connections each
    server server1 10.1.0.10:80 weight 1 maxconn 512 check
    server server2 10.1.0.11:80 weight 1 maxconn 512 check
    server server2 10.1.0.12:80 weight 1 maxconn 512 check
